/* src/css/loading.css */
.initial-loading-page {
  background: linear-gradient(89.85deg, #912FEA 12.86%, #6410D1 36.33%, #5104C7 53.65%, #426BD4 87.41%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.initial-loading-page svg {
  width: 70%;
  max-width: 450px;
}
.loading-dots {
  position: absolute;
  bottom: 80px;
  display: inline-flex;
  gap: 10px;
}
.loading-dots div {
  border-radius: 100%;
  background: #6526d1;
  height: 13px;
  width: 13px;
  transition: background .3s;
}

/* src/css/whos-watching.css */
.whos-watching {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #0f0f0f, #171425, #1e163a, #27164e, #341362);
}
.whos-watching h2 {
  font-weight: 400;
  color: white;
  margin-top: 30px;
  font-size: 50px;
  user-select: none;
}
.whos-watching svg {
  width: 150px;
  margin-top: 30px;
}
.user-circle-container {
  margin-top: auto;
  display: flex;
  flex-flow: column;
}
.user-circle-container:hover .name-tiny {
  transform: translateY(10px);
}
.user-circle {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 6px solid rgb(202, 68, 214);
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-weight: 200;
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transition: transform .2s linear;
  background: rgba(255, 255, 255, 0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
  align-self: center;
  justify-self: center;
}
.user-circle:hover {
  transform: scale(1.2) translate3d(0, 0, 0) perspective(1px);
}
.add-user-container {
  margin-top: auto;
  margin-bottom: 60px;
}
.name-tiny {
  color: white;
  text-align: center;
  margin-top: 15px;
  transition: transform .2s linear;
}
.add-buttons button {
  width: 200px;
  padding: 10px;
  height: 42px;
  background: rgb(94 68 141);
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.add-buttons svg {
  margin: 0;
  width: 20px;
  margin-right: 5px;
}
.add-buttons button:first-child {
  margin-right: 40px;
}
.add-buttons button:hover {
  background: rgb(91, 28, 230);
}
.manage-profiles {
  color: purple;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: rgb(158, 134, 255);
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
}
.manage-profiles:hover {
  color: white;
}

/* src/css/hero-banner.css */
.hero-banner {
  width: 100%;
  background: white;
  position: relative;
}
.hero-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero-overlay {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.9652605459057072) 35%, rgba(0, 0, 0, 0) 85%);
  display: flex;
  z-index: 10;
}
.hero-overlay h2 {
  color: rgb(255, 255, 255);
  bottom: 100px;
  left: 20px;
  font-size: 40px;
}
.card-holder {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.card-temp {
  width: 200px;
  height: 200px;
  background: white;
}
.continue-watching {
  color: white;
  font-size: 20px;
  transform: translateY(80px);
}
.hero-overlay .content {
  margin-top: auto;
  display: flex;
  flex-flow: column;
  margin-left: 60px;
}
.button-things {
  display: flex;
  align-items: center;
  gap: 10px;
}
.button-things button {
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background: white;
  outline: none;
  border: none;
}
h4 {
  color: white;
  font-size: 14px;
}
.movie-desc {
  color: white;
  margin-bottom: 30px;
  margin-top: 0px;
}
.hero-movie-title {
  margin-bottom: 40px;
  margin-left: 50px;
}
.hero-banner .play-button {
  background: linear-gradient(270deg, #7c78fe 0%, #4912c3 100%);
  border-radius: 100%;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-button svg {
  width: 15px;
}
.button-things .more-info {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 17px;
  height: 45px;
  width: 140px;
}
.more-info:hover {
  background: rgb(91 28 230);
  cursor: pointer;
}

/* src/css/top-bar.css */
.top-bar {
  position: fixed;
  top: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  transition: 0.1s background;
  background: rgb(0 0 0 / 0%);
}
.scrolled-down {
  background: rgb(0 0 0 / 87%);
}
.top-bar:hover {
  background: rgb(15 15 15) !important;
}
.top-bar .svg-logo {
  width: 160px;
}
.hamburger,
.close-icon {
  position: absolute;
  width: 20px;
  height: 40px;
  margin-right: auto;
  left: 60px;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
.close-icon {
  display: none;
}
.lines div {
  background: white;
  height: 1.4px;
  width: 100%;
  margin-top: 5.6px;
  border-radius: 10px;
}
.lines div:first-child {
  margin-top: 0;
}
.lines div:nth-child(2) {
  width: 10px;
}
.search-icon {
  position: absolute;
  left: 130px;
  width: 18px;
  cursor: pointer;
}
.hamburger svg {
  width: 17px;
  cursor: pointer;
}
.hamburger svg:hover > line {
  stroke: rgb(255, 255, 255);
}
.search-icon:hover > circle,
.search-icon:hover > line {
  stroke: rgb(255, 255, 255);
}
.bar-search-mode .svg-logo {
  display: none;
}
.bar-search-mode .search-input {
  display: block;
}
.bar-search-mode .search-icon {
  display: none;
}
.search-input {
  background: rgb(25, 25, 25);
  font-size: 22px;
  padding: 10px;
  height: 44px;
  border: none;
  width: 800px;
  display: none;
  padding-left: 40px;
  color: white;
}
.search-input-container {
  position: relative;
  position: absolute;
  left: 125px;
}
.bar-search-mode .search-input-container .close-icon {
  display: flex;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.user-profile {
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  right: 100px;
  font-weight: 600;
}
.user-profile .user-circle {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-width: 4px;
  font-weight: 600;
  margin-right: 10px;
}
.show-side-nav .top-bar .hamburger {
  display: none;
}
.show-side-nav .top-bar .search-icon {
  display: none;
}
.show-side-nav .top-bar .close-icon {
  display: flex;
}
.show-side-nav .search-input-container .close-icon {
  display: none;
}
.show-side-nav .top-bar:hover {
  background: rgb(15 15 15) !important;
}
.show-side-nav .top-bar .svg-logo path {
  fill: rgb(135 135 135);
}
.show-side-nav .top-bar {
  background: rgb(15 15 15);
}

/* src/css/side-nav.css */
.side-nav-transparent-overlay {
  position: fixed;
  z-index: 51;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.384);
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.show-side-nav .side-nav-transparent-overlay {
  display: block;
}
.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background: rgb(15 15 15);
  z-index: 52;
  overflow-y: scroll;
  transition: transform 0.1s linear;
  cursor: pointer;
  transform: translateY(60px);
  transform: translateX(-100%) translateY(60px);
}
.side-nav section {
  margin-top: 15px;
}
.side-nav section:first-child {
  margin-top: 0px;
}
.show-side-nav .side-nav {
  transform: translateX(0) translateY(60px);
}
.hide-nav-overlay {
  display: none;
}
.close-icon svg {
  cursor: pointer;
  width: 42px;
  height: 17px;
}
.pages-buttons {
  color: rgb(206, 206, 206);
  font-size: 29px;
  font-weight: 300;
  display: flex;
  flex-flow: column;
  margin-left: 68px;
  width: 270px;
}
.pages-buttons section {
  border-bottom: 1.5px solid rgb(51, 51, 51);
  padding-bottom: 20px;
}
.pages-buttons div:hover {
  color: #9e86ff;
  font-weight: 600;
}
.pages-buttons div {
  margin-top: 15px;
  color: rgb(153, 153, 153);
}
.pages-buttons div:first-child {
  margin-top: 0;
}

/* src/css/media-section.css */
.media-content {
  margin-top: 100px;
}
.media-container * {
  border: 2px red solid;
}
.media-container {
  overflow-x: scroll;
  margin: 20px;
  width: 90%;
  border: 2px red solid;
}
.media-container .media-card:nth-child(2n) {
  background: green;
}
.media-container::-webkit-scrollbar {
  display: none;
}
.media-card {
  width: 200px;
  height: 300px;
  background: white;
  margin-top: 10px;
  flex-shrink: 0;
}
.media-rolling-container {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  transition: 0.2s;
}

/* src/css/main.css */
* {
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
html {
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  background: rgb(31, 31, 31);
}
.home-page {
  background: linear-gradient(115.92deg, #000000 19.56%, #170146 51.9%, #4a0254 100%);
  background-attachment: fixed;
}
.show-side-nav html {
  overflow-y: hidden;
}
.show-side-nav::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: #26022b 100%;
}
::-webkit-scrollbar-thumb {
  background: #26022b 100%;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0);
}
