.hero-banner {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  user-select: none;
}

.main-banner-gif {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(15, 15, 15, 0.9652605459057072) 35%,
    rgba(0, 0, 0, 0) 85%
  );
  display: flex;
  z-index: 10;
}

.hero-overlay h2 {
  color: rgb(255, 255, 255);
  bottom: 100px;
  left: 20px;
  font-size: 40px;
}

.card-holder {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.card-temp {
  width: 200px;
  height: 200px;
  background: white;
}

.continue-watching {
  color: white;
  font-size: 20px;
  transform: translateY(80px);
}

.hero-overlay .content {
  margin-top: auto;
  display: flex;
  flex-flow: column;
  margin-left: 60px;
}

.hero-overlay .content svg {
  width: 100vw;
  max-width: 413px;
}
.button-things {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-things button {
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background: white;
  outline: none;
  border: none;
}

.hero-banner h4 {
  color: white;
  font-size: 14px;
}
.movie-desc {
  color: white;
  margin-bottom: 30px;
  margin-top: 0px;
}

.hero-movie-title {
  margin-bottom: 40px;
  margin-left: 50px;
}

.play-button {
  background: linear-gradient(270deg, #7c78fe 0%, #4912c3 100%);

  border-radius: 100%;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button svg {
  width: 15px;
}

.button-things .more-info {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 17px;
  height: 45px;
  width: 140px;
}

.more-info:hover {
  background: rgb(91 28 230);
  cursor: pointer;
}

/*MOBILE STYLE*/

@media only screen and (max-width: 750px) {
  .hero-banner {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
  }
  .hero-overlay {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
  }

  .hero-banner h4 {
    margin-top: 20px;
  }

  .hero-overlay .content {
    margin-left: 0;
    margin-top: 0;
    align-items: center;
    width: 100%;
  }
  .hero-overlay .content svg {
    width: 80%;
    max-width: 413px;
    margin: 0;
  }
  .movie-desc {
    width: 96%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .continue-watching {
    display: none;
  }
}
