@import url("./loading.css");
@import url("./whos-watching.css");
@import url("./hero-banner.css");
@import url("./top-bar.css");
@import url("./side-nav.css");
@import url("./media-section.css");
@import url("./media-info.css");
/* Custom CSS Reset */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

html {
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(
    115.92deg,
    #000000 19.56%,
    #170146 51.9%,
    #4a0254 100%
  );
  overflow-y: scroll;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(
    115.92deg,
    #000000 19.56%,
    #170146 51.9%,
    #4a0254 100%
  );
  -webkit-transform: translate3d(0, 0, 0);
}

.show-side-nav html {
  overflow-y: hidden;
}

/* width */
.show-side-nav::-webkit-scrollbar {
  width: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: #26022b 100%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26022b 100%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0);
}

/* ROUTE HANDLING  */
.display-none {
  display: none !important;
}
