.media-content {
  margin-top: 100px;
}
.media-container * {
  border: 2px red solid;
}

.media-container {
  overflow-x: scroll;
  margin: 20px;
  width: 90%;
  border: 2px red solid;
}

.media-container .media-card:nth-child(2n) {
  background: green;
}
.media-container::-webkit-scrollbar {
  display: none;
}

.media-card {
  width: 200px;
  height: 300px;
  background: white;
  margin-top: 10px;
  flex-shrink: 0;
}

.media-rolling-container {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  transition: 0.2s;
}

/* .media-rolling-container:hover {
  transform: translateX(-790px);
} */
