.media-content {
  margin-top: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.media-container * {
}

.media-container {
  overflow: hidden;
  margin: 20px;
  width: 100%;
  position: relative;
  scrollbar-width: none;
  user-select: none;
}

.media-container h2 {
  color: white;
  margin-bottom: 10px;
  margin-left: 50px;
}
.media-container::-webkit-scrollbar {
  display: none;
}

.media-card {
  width: 200px;
  height: 300px;
  background: white;
  flex-shrink: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.media-card a {
  font-size: 0.5em;
  text-align: center;
  vertical-align: bottom;
}
.media-card img {
  width: 100%;
  height: 100%;
  background: rgb(46, 46, 46);
}

.media-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  pointer-events: none;
}

.media-card:hover .overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.59) 32.28%,
    rgba(0, 0, 0, 0.0531) 88.09%
  );
}

.placeholder {
  background: rgb(46, 46, 46);
}

.media-container .media-card:first-child {
  margin-left: 50px;
}
/* video {
  display: none;
} */
.media-carousel {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  transition: 0.3s;
  will-change: transform;
  transform-style: preserve-3d;
}

.arrow-container {
  position: absolute;
  bottom: 0;
  width: 55px;
  background: rgba(29, 29, 29, 0.74);
  height: 300px;
  z-index: 30;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-container svg {
  width: 15px;
  height: 2px;
  height: auto;
  pointer-events: none;
}

.media-container:hover #next {
  display: flex;
}

.media-container:hover #previous {
  display: flex;
}

.media-container[data-position="0"]:hover #previous {
  display: none;
}

.media-container #next {
  right: 0;
  display: none;
}

#previous {
  left: 0;
  display: none;
}

@media only screen and (max-width: 750px) {
  .media-container {
    overflow-x: scroll;
  }
  .media-container h2 {
    position: sticky;
    top: 0;
    left: 10px;
  }
  .media-container:hover #next {
    display: none;
  }
  .arrow-container {
    display: block;
  }
  .media-container::-webkit-scrollbar {
    display: none;
  }
  .media-card {
    width: 140px;
    height: 220px;
  }
}
