.media-info-section {
  background: rgba(0, 0, 0, 0);
  min-height: 100vh;
  color: white;
  position: relative;
}

.media-info-display .play-button {
  margin-top: 10px;
  width: 55px;
}
.info-hero-banner img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: 0px 0px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.media-info-display {
  width: 100%;
  max-width: 800px;
  transform: translateY(-137%);
  padding-left: 50px;
}

.dark-overlay {
  background: #0000009f;
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
}
