.top-bar {
  position: fixed;
  top: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  transition: 0.1s background;
  background: rgb(0 0 0 / 0%);
}

.scrolled-down {
  background: rgb(0 0 0 / 87%);
}

.top-bar:hover {
  background: rgb(15 15 15) !important;
}

.top-bar .svg-logo {
  width: 160px;
}

.hamburger,
.close-icon {
  position: absolute;
  width: 20px;
  height: 40px;
  margin-right: auto;
  left: 60px;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}

.close-icon {
  display: none;
}

.lines div {
  background: white;
  height: 1.4px;
  width: 100%;
  margin-top: 5.6px;
  border-radius: 10px;
}

.lines div:first-child {
  margin-top: 0;
}

.lines div:nth-child(2) {
  width: 10px;
}

.search-icon {
  position: absolute;
  left: 130px;
  width: 18px;
  cursor: pointer;
}

.hamburger svg {
  width: 17px;
  cursor: pointer;
}

.hamburger svg:hover > line {
  stroke: rgb(255, 255, 255);
}

.search-icon:hover > circle,
.search-icon:hover > line {
  stroke: rgb(255, 255, 255);
}

.bar-search-mode .svg-logo {
  display: none;
}

.bar-search-mode .search-input {
  display: block;
}

.bar-search-mode .search-icon {
  display: none;
}

.search-input {
  background: rgb(25, 25, 25);
  font-size: 22px;
  padding: 10px;
  height: 44px;
  border: none;
  width: 800px;
  display: none;
  padding-left: 40px;
  color: white;
}

.search-input-container {
  position: relative;
  position: absolute;
  left: 125px;
}
.bar-search-mode .search-input-container .close-icon {
  display: flex;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.user-profile {
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  right: 100px;
  font-weight: 600;
}
.user-profile .user-circle {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-width: 4px;
  font-weight: 600;
  margin-right: 10px;
}

/* When Side Nav Is Open */

.show-side-nav .top-bar .hamburger {
  display: none;
}
.show-side-nav .top-bar .search-icon {
  display: none;
}
.show-side-nav .top-bar .close-icon {
  display: flex;
}
.show-side-nav .search-input-container .close-icon {
  display: none;
}
.show-side-nav .top-bar:hover {
  background: rgb(15 15 15) !important;
}
.show-side-nav .top-bar .svg-logo path {
  fill: rgb(135 135 135);
}

.show-side-nav .top-bar {
  background: rgb(15 15 15);
}

/* MOBILE STYLE */
@media only screen and (max-width: 750px) {
  .top-bar {
    background: black;
  }
  .hamburger {
    left: 15px;
  }
  .user-profile {
    right: 0;
  }
  .user-profile p {
    display: none;
  }

  .search-icon {
    display: none;
  }
}
